/**
 * 01. Global
 */

$header-font-family: 'futura-pt', 'Helvetica', 'Arial', sans-serif;
$body-font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;

$body-bold: 600;

h1, h2, h3, h4, h5, h6 {
	font-family: futura-pt, sans-serif;
	color: #243746;
}

body, p {
	font-family: proxima-nova, sans-serif;
	color: #243746;
}